body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -100px;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: #E36B23;
    box-shadow: 2px 10px 5px #888;
}

#menu p {
    font-weight: bold;
    color: #fff;
}

#menu p a {
    color: #fff;
}

#menu button {
    width: 80px;
    height: 25px;
    background-color: #C44032;
    border: 3px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

#points {
    position: absolute;
    width: 120px;
    height: 16px;
    padding: 12px;
    top: 20px;
    right: 80px;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: #E36B23;
    box-shadow: 2px 10px 5px #888;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    display: none;
}