<!DOCTYPE html>
<html>
    <head>
        <title>Genetic Tetris</title>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/style.css"></link>
		<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/samples/static/highslide.css" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>
        <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script><script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script defer src="https://code.highcharts.com/highcharts.js"></script>
		<script defer src="https://code.highcharts.com/modules/data.js"></script>
		<script defer src="https://code.highcharts.com/modules/exporting.js"></script>
		<script defer src="https://www.highcharts.com/samples/static/highslide-full.min.js"></script>
		<script defer src="https://www.highcharts.com/samples/static/highslide.config.js" charset="utf-8"></script>
        <script defer type="text/javascript" src="js/tetris.js"></script>
        <script defer type="text/javascript" src="js/chart.js"></script>
		
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; margin-top: 60%"></div>
    </body>
</html>
